.details {
  height: 100vh;
  position: relative;
  overflow: hidden;
   @media screen and (max-width:1024px){
    height: 900px;

  }
  @media screen and (max-width:376px){
    height: 700px;

  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
    //margin-top: 30px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  @media screen and (max-width:1024px){
    flex-direction: column-reverse;
    margin-top: 0px;
    height: 100%;
    bottom: 0;
  } 
    
  
}

.hero-content {
  width: 40%;
  @media screen and (max-width:1024px){
    width: 70%;

  } 
   .content{
    width: 100%;
    height: 100%;
   }
    
  h1 {
    color: white;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: -5px;
    width: fit-content;
    @media screen and (max-width:1024px){
    text-align: center;
      margin: auto;
  } 
  @media screen and (max-width:768px){
    font-size: 5rem;
  } 
  @media screen and (max-width:440px) {
      margin: 20px auto 20px auto;
      font-size: 3.5rem;
    }
    @media screen and (max-width:440px) {
      margin: 20px auto 20px auto;
      font-size: 3rem;
    }
@media screen and (max-width:320px){
    font-size: 2.6rem;
    letter-spacing: -3px;
    margin: 10px auto 10px auto;
    
  } 
  }
  p {
    color: rgb(209, 209, 209);
    letter-spacing: -2px;
    font-size: 2.7rem;
    width: 100%;
    display: inline-block;
    line-height: 1;
    
    @media screen and (max-width:1024px){
      text-align: center;
      
      width: 100%;
    }
    @media screen and (max-width:768px){
    font-size: 2rem;
  } 
  @media screen and (max-width:440px) {
    
      font-size: 1.7rem;
    }
    @media screen and (max-width:320px){
      font-size: 1.3rem;
      letter-spacing: -1px;
    }
  }
}
.hero-rating {
  display: flex;
  width: fit-content;
  gap: 10px;
  margin: 30px 0px 30px 0px;
  @media screen and (max-width:1024px){
    margin: 30px auto 30px auto;
  } 
  @media screen and (max-width:440px) {
    gap: 5px;
    }
     @media screen and (max-width:320px){
   margin: 10px auto 10px auto;
    gap: 2px;
  }
  .star {
    color: #f5be1e;
    font-size: 2rem;

    @media screen and (max-width:440px) {
    
      font-size: 1.5rem;
    }
    @media screen and (max-width:320px){
   font-size: 1.2rem;
  } 
  }
  h3 {
    color: $white;
    font-size: 2rem;
    font-weight: 500;
    @media screen and (max-width:440px) {
      font-size: 1.5rem;
    }
  }
}
.badges-app {
  display: flex;
  gap: 5px;
  @media screen and (max-width: 1024px) {
    margin: auto;
    align-items:center ;
    justify-content: center;
  }
  

  .badge {
    height: 60px;
    flex: 1 1 120px; // adaptabilité + base de 120px
    max-width: 200px;

    @media screen and (max-width: 768px) {
      height: 50px;
      max-width: 160px;
    }

    @media screen and (max-width: 440px) {
      height: 40px;
      max-width: 130px;
    }

    @media screen and (max-width: 321px) {
      height: 30px;
      max-width: 100px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.hero-app-screenshot {
  width: 50%;
@media screen and (max-width:768px){
    width: 90%;
    
  } 
  img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
}
