@use "../../styles/settings" as *;
.hero {
    background-color: rgb(0, 0, 0);
   
    width: 100%;
    height: 100vh;
    color: white;
    @media screen and (max-width:577px) {
        height: 600px !important;
    }
     @media screen and (max-width:321px) {
               height: 700px !important;
                }
     .hero-img {
        width: 100%;
        height: 100%;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @media screen and (max-width:577px) {
                object-position: right;
            }
        }
    } 
    .overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
        display: flex;
        align-items: center;
       // justify-content: center;
        @media screen and (max-width:768px) {
            flex-direction: column-reverse;
                 
            }
            @media screen and (max-width:577px) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.529) 0%, #000 100%) !important;
            }
        .overlay-content {
            /* position: absolute;
            bottom: 90px;
            left: 40px; */
           margin-left: 70px;
            
            width: 45%;
             @media screen and (max-width:1024px) {
                    width: 50% !important;
                }
            @media screen and (max-width:768px) {
            width: 80% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
                text-align: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
               // background-color: red;
                margin-left: inherit;
            }
             @media screen and (max-width:450px) {
                    width: 90% !important;
                }
                @media screen and (max-width:376px) {
                    
                    
                }
                @media screen and (max-width:321px) {
                    //margin-top: -150px;
                }
               .logo-game{
              
                width: 90%;
                img{
                    width: 100%;
                    height: 100%;
                }
               }
            h1 {
                font-family: $cinzel;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                margin-top: 20px;

                @media screen and (max-width:1024px) {
                    font-size: 1.5rem !important;
                }
                @media screen and (max-width:768px) {
                    letter-spacing: 2px !important;
                }

                @media screen and (max-width:577px) {
                    font-size: 1.2rem !important;
                }
                @media screen and (max-width:440px) {
                    font-size: 1.1rem !important;
                }
                @media screen and (max-width:376px) {
                    font-size: 0.9rem !important;
                    //letter-spacing: -2px !important;
                }
                @media screen and (max-width:321px) {
                    //font-size: 1.1rem !important;
                    //letter-spacing: -1px !important;
                }
            }
            .badges {
                display: flex;
                margin-top: 30px;
             
                gap: 5px;
                @media screen and (max-width:376px) {
                    width: 80%;
                    
                }
                .badge{
                    
                    height: 60px;
                    @media screen and (max-width:321px) {
                    height: 40px !important;
                    
                    
                }
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
        .overlay-sreen{
            width: 50%;
            height: 80%;
            @media screen and (max-width:577px) {
                width: 90%;
                }
                @media screen and (max-width:440px) {
                    margin-top: -150px;
                }
                @media screen and (max-width:322px) {
                    margin-top: -250px !important;
                }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

        }
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 620px;
        color: white;
        position: relative;
         .hero-img {
            width: 100%;
            height: 100%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        } 
        .overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
            height: 100%;
            .overlay-content {
                width: 45%;

                h1 {
                    font-size: 2rem;

                    letter-spacing: -3px;
                }
                .badges {
                    margin: 20px 0;
                    .badge {
                        width: 150px;
                        height: 50px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}


/* @media screen and (max-width: 376px) {
    .hero {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 620px;
        color: white;
        .hero-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 10%;
            }
        }
        .overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
            height: 100%;
            .overlay-content {
                width: 90%;

                left: 50%;
                transform: translateX(-50%);
                h1 {
                    font-size: 1.8rem;

                    letter-spacing: -3px;
                }
                .badges {
                    .badge {
                        width: 130px;
                        height: 40px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
} */
/* @media screen and (max-width: 376px) {
    .hero {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 400px;
        color: white;
        .hero-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 10%;
            }
        } 
        .overlay {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
            height: 100%;
            .overlay-content {
                width: 90%;
                right: inherit;
                transform: inherit;
                left: inherit;
                h1 {
                    font-size: 1.3rem;

                    letter-spacing: -2px;
                }
                .badges {
                    .badge {
                        width: 100px;
                        height: 35px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
} */
